:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dk-cyan: hsl(167, 40%, 24%);
  --dk-blue: hsl(198, 62%, 26%);
  --dk-mod-cyan: hsl(168, 34%, 41%);
  --v-dk-sat-blue: hsl(212, 27%, 19%);
  --v-dk-gray-blue: hsl(213, 9%, 39%);
  --dk-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

.container {
  margin-top: 18em;
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -1em;
}

.bottom-row {
  display: flex;
  flex: 1 1 100%;
  margin-top: -10px;
  margin-right: 1px;
}

.text-wrapper-top {
  background-color: var(--white);
  padding: 11em 8em;
  width: 45%;
}

.text-wrapper-bottom {
  text-align: center;
  margin-top: -13em;
}

.img-main-pg {
  width: 105.2vh;
}

.top-line {
  font-family: Fraunces, sans-serif;
  font-size: 35px;
  font-weight: 900;
  max-width: 80%;
  color: var(--v-dk-sat-blue);
}

.top-line-photography {
  font-family: Fraunces,
  sans-serif;
  font-size: 25px;
  font-weight: 900;
  max-width: 80%;
  color: var(--v-dk-sat-blue);
}

.top-line-graphic, .top-line-photography {
  font-family: Fraunces,
  sans-serif;
  font-size: 25px;
  font-weight: 900;
  max-width: 80%;
  color: var(--v-dk-sat-blue);
  position: relative;
  margin: 0 auto;
  color: var(--dk-cyan);
}

.description {
  font-family: Barlow, sans-serif;
  font-size: 17px;
  max-width: 83%;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1.25em;
  word-wrap: break-word;
}

.description-graphic, .description-photography {
  font-family: Barlow, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  padding: .5em 12em;
  color: var(--dk-cyan);
}

.btn-transform, .btn-standout {
  border: none;
  background: none;
  font-family: Fraunces, sans-serif;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

.btn-transform::after {
  content: '';  
  position: absolute;
  background: var(--yellow);
  opacity: 0.1;  
  height: 8.5px;
  width: 7.5%;
  left: 9.2em;
  bottom: -31.75em;
  transition: 0.3s;
  border-radius: 22px;
}

.btn-transform:hover::after {
  width: 7.5%;
  opacity: 0.7;
}

.btn-standout::after {
  content: '';
  position: absolute;
  background: var(--red);
  opacity: 0.3;
  height: 8.5px;
  width: 7.5%;
  left: 63.5em;
  bottom: -76.12em;
  transition: 0.3s;
  border-radius: 22px;
}

.btn-standout:hover::after {
  width: 7.5%;
  opacity: 0.6;
}

