:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dk-cyan: hsl(167, 40%, 24%);
  --dk-blue: hsl(198, 62%, 26%);
  --dk-mod-cyan: hsl(168, 34%, 41%);
  --v-dk-sat-blue: hsl(212, 27%, 19%);
  --v-dk-gray-blue: hsl(213, 9%, 39%);
  --dk-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

.info__container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* row container */
.info__transform,
.info__standout {
  display: flex;
  flex: 1 1 50%;
  max-width: 100%;
}

.info__graphic-photography {
  display: flex;
  text-align: center;
}

.info__graphic-photography>* {
  flex: 1;
}

/*row-img containers*/
.info__img-transform,
.info__img-standout,
.info__img-graphic,
.info__img-photography {
  min-width: 50%;
}

.info__img-transform {
  grid-row-end: 2;
}

/*image styling*/
.img-transform,
.img-standout,
.img-graphic,
.img-photography {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.img-graphic,
.img-photography {
  object-fit: fill;
}

/*col - text containers*/
.info__text-transform,
.info__text-standout {
  max-width: 50%;
  padding: 13rem 8rem;
}

.info__text-photography,
.info__text-graphic {
  margin-top: -16rem;
}

/*text styling*/
.info__headline {
  font-family: Fraunces, sans-serif;
  font-size: 35px;
  word-wrap: break-word;
  width: 75%;
  color: var(--v-dk-sat-blue);
  font-weight: 900;
}

.info__headline-graphic,
.info__headline-photography {
  font-family: Fraunces, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 2rem;
  color: var(--dk-cyan);
  font-weight: 900;
}

.info__description {
  font-family: Barlow, sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  width: 87%;
  color: var(--gray-blue);
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.info__description-graphic,
.info__description-photography {
  font-family: Barlow, sans-serif;
  font-size: 18px;
  width: 40%;
  margin: 0 auto;
  color: var(--dk-cyan);
}

/*button styling*/
.btn-learnmore {
  text-decoration: none;
  font-family: Fraunces, sans-serif;
  color: var(--v-dk-sat-blue);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
}

.btn-learnmore:hover {
  color: black;
  transition: all 150ms ease-in-out;
}

.btn-underline-transform {
  height: 8px;
  width: 124px;
  background-color: var(--yellow);
  border-radius: 8px;
  opacity: 0.3;
  position: relative;
  left: -7px;
  top: -6px;
}

.btn-underline-transform:hover {
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}

.btn-underline-standout {
  height: 8px;
  width: 118px;
  background-color: var(--red);
  border-radius: 8px;
  opacity: 0.4;
  position: relative;
  right: 5px;
  top: -5px;
}

.btn-underline-standout:hover {
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}


@media screen and (max-width: 900px) {
  .info__container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .info__description {
    margin: 0 auto;
  }

  .info__graphic-photography {
    display: grid;
    grid: repeat(2 1fr);
  }

  .info__transform {
    display: grid;
    grid: 1fr 1fr;
  }

  .info__standout {
    display: grid;
    grid: 1fr;
  }

  .info__text-transform,
  .info__text-standout {
    max-width: 100%;
    padding: 5rem 6.85rem;
  }

  .info__headline {
    width: 100%;
    font-size: 32px;
  }

  .info__standout {
    padding: 0;
  }

  .btn-underline-standout {
    right: -107px;
  }

  .btn-underline-transform {
    left: 101px;
  }

  .info__img-graphic {
    height: 100%;
  }

  .info__description-graphic,
  .info__description-photography {
    width: 75%;
    padding-bottom: 2rem;
  }

  .info__headline-graphic,
  .info__headline-photography {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 620px) {
  .info__text-transform,
  .info__text-standout {
    max-width: 100%;
    padding: 5rem 2rem;
  }

  .info__img-photography, .info__img-graphic {
    height: 450px;
  }

  .info__headline-graphic, .info__headline-photography {
    margin-bottom: .85rem;
  }

}