:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dk-cyan: hsl(167, 40%, 24%);
  --dk-blue: hsl(198, 62%, 26%);
  --dk-mod-cyan: hsl(168, 34%, 41%);
  --v-dk-sat-blue: hsl(212, 27%, 19%);
  --v-dk-gray-blue: hsl(213, 9%, 39%);
  --dk-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

.background-container {
  background: url(images/header.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
  min-height: 800px !important; 

}

@media screen and (max-width: 970px) {
  .background-container {
    min-height: 650px;
    background: url(images/header.jpg) center center/cover no-repeat;
    background-position: center 70%;
  }

  h1.title {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .background-container {
    min-height: 870px !important;
  }

  h1.title {
    font-size: 65px !important;
  }
}

h1.title {
  font-family: 'Fraunces', serif;
  color: var(--white);
  font-size: 50px;
  text-align: center;
  letter-spacing: 6px;
  padding-top: 3em;
}

@media and screen (max-width: 900px) {
  .title {
    font-size: 30px;

  }
}

img.img-arrow {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

@media screen and (max-width: 600px) {
  h1.title {
    font-size: 40px;
  }
}

